.list-header{
  text-align: center;
  width: 100%;
  font-size: 36px;
}

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-content {
  display: flex;
  align-items: center;
  max-height: 388px;
  min-height: 168px;
  border: 1px solid grey;
  overflow: scroll;
}
