.list-group-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 700px;
  /* max-width: 700px; */
}

.list-group-item p {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex: 4 1;
}

.list-group-item button {
  flex: 1 1;
}