.goal-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.goal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}