.app {
  /* text-align: center; */
  /* background-color: #282c34; */
  min-height: 400px;
  display: flex;
  padding: 40px;
  width: 800px;
  flex-direction: column;
  gap: 20px;
}

.manage-goal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .manage-goal-item {
  flex: 3 1 0px;
  align-items: center;
  margin-inline: 20px;
}
.manage-goal-item.streak-container {
  flex: 1 1 0px;
  justify-content: space-evenly;
} */

